/*NAVBAR*/
body{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
}

nav{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-content: center;
    justify-content: center;
}

#searchBar{
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: middle;
    height: 17px;
    width: 40vw;
}

#searchButton{
    margin: auto 40px auto 20px;
}


ul{
    list-style-type: none; 
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 80%;
}

#logo{
    margin-right: 40px;
    margin-top: -10px;
}

#logoImage{
    width: 101px;
}

#upload{
    margin-right: 30px;
    margin-left: 20px;
    margin-top: -20px;
}

#signInButton{
    margin: auto 30px auto 30px;
    min-width: 59px;
}

#avatar{
    margin: auto 30px auto 30px;
}

/*MAIN*/
main {
    width: auto;
    display: grid;
    grid-template-columns: 1fr .5fr;
    margin: 5% 5% 40% 10%;
}

#video iframe{
    width: 100%;
    max-width: 876px;
    height: 500px;
}

main {
    width: auto;
    display: grid;
    grid-template-columns: 1fr .5fr;
    margin-top: 5%;
}

#description {
    display: flex;
    flex-direction: row;
}

#subscribe {
    background-color: red;
    color: white;
    border: 2px solid red;
    
    border-radius: 1%;
}

#likeButtons {
    margin-top: 9%;
    margin-left: 25%;
}

#like, #dislike, #share {
    padding: 4%;
}

#like, #dislike{
    margin-left: 15px;
}

aside {
    margin-left: 8%;
}

.thumbnail {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#videoTitle:last-child{
    display: flex;
    flex-direction: column;
}